/* RESET */
*{
    /* para no dejar que el padding sume al widh */
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --margenGrid-S: 20px;
    --margenGrid-D: 40px;

}

/* CONTENEDOR */
.contenedor-grid, main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: [header]60px [main]1fr [footer]1fr;
    column-gap: var(--margenGrid-S);
    @media only screen and (min-width: 1000px) {
        padding: 0 var(--margenGrid-D);
        grid-template-columns:repeat(12, 1fr);
        column-gap: var(--margenGrid-D);
    }
}
/* HEADER */
/* Ancho total */
header, main, footer{
    grid-column: 1/-1;
}
header{
    background-color: greenyellow;
}

/* MAIN */
main{
    /* Anular el grid-template-rows que teníamos */
    grid-template-rows: none;
   
    background-color: turquoise;
    margin: 0 var(--margenGrid-S);
    & .main__titular{
        grid-column: 1/-1;
        grid-row: 80px;
        justify-self: center;
    }
    & .main__slogan{
        grid-column: 1/-1;
        max-width: 1024px;
        justify-self: center;
    }

& img{
        width: 100%;
    }

& .main__imagen01{
    grid-column: 1/4;
}

& .main__imagen02{
    grid-column: 4/7;
}

& .main__imagen03{
    grid-column: 1/6;
}
& .main__imagen04{
    grid-column:2/7;
}


}


/* FOOTER */
/* Ancho total */
footer{
    background-color: grey;
}


